---
import Blog from './Molding-Content.mdx'; // Import the MDX file

import '../../styles/markdown.css';
---

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Molding Content</title>
  </head>
  <body>
    <article class="markdown-content">
        <Blog />
    </article>
  </body>
</html>