
/* url is relative to css file */
@font-face {
    font-family: 'pixel';
    src: url('/classes/863.24/people/RobinLiu/fonts/munro-small.ttf') format('truetype'),
      url('/classes/863.24/people/RobinLiu/fonts/munro-small.woff') format('woff') ;
}

/* Reset margin and padding for a clean layout */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: pixel !important;
}

html {
  background-color: #181818;
  font-family: pixel;
  font-size: 10px; /* or any other value you'd like */

}


/* Responsive image */
.responsive-img {
  max-width: 100%; /* Ensures the image doesn't exceed the container width */
  height: auto;    /* Maintains the aspect ratio */
  display: block;  /* Removes any space below the image (inline-block issue) */
  margin-left: auto;  /* Centers the image horizontally */
  margin-right: auto; /* Centers the image horizontally */
}

