---
import '../styles/global.css';
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Astro</title>
  </head>
  <br class="blog-content">
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <h1>HOW TO MAKE ALMOST ANYTHING 2024</h1> <h1> ROBIN LIU :D</h1>

    <p> Week 1 CAD</p>
    All my CAD designs got wiped when i locally built this site into that folder ;-;
    will redo in the near future

    <p> Week 2 Cutting</p>
    Vinyl Design: <br>
    Inspired by artist Lexie Liu's song "Fortuna", I designed the following on Inkscape, a vector graphics editor.
  

    <img src="images/fortuna.svg" class="responsive-img"/>

    
    <img src="images/fortuna_draw.JPG" class="responsive-img"/>
    Inkscape lets you convert images into bitmaps where you can easily modify the vectors! <br/>

    <img src="images/vector_path.JPG" class="responsive-img"/>
    Prepping for cutting - showing the path of the cutter <br/>

    <video controls="controls" width="800" height="600">
      <source src="images/vinyl.MOV">
    </video>

    <img src="images/transfer.JPG" class="responsive-img"/>
    Using transfer paper (oops) <br/>

    <img src="images/sticker.JPG" class="responsive-img"/>
    On my computer! <br/>

    Assets used in design: https://www.vectorstock.com/royalty-free-vector/cyber-sigilism-design-neo-tribal-gothic-style-vector-48992718 </br/>

  </body>
</html>


