---
import '../styles/global.css';
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Astro</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <h1>ROBIN LIU</h1>
    <h2>HOW TO MAKE ALMOST ANYTHING</h2>

    <p>let me cook..</p>

    <p> Week 1</p>

    
  </body>
</html>


