---

// import '../styles/index.css';

// import GameButton from '../components/GameButton.jsx';

import "nes.css/css/nes.min.css";

// Used for react specific componenst later
import "nes-ui-react/dist/nes-ui.css"

import '../styles/global.css';
import '../styles/index.css';

---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    
    <title>Astro</title>
  </head>
  <body>

  <br class="blog-content">
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <div class="nes-container is-centered">
      <h1>HOW TO MAKE ALMOST ANYTHING 2024 </h1>
      <div class="hoverDark badge-container">
        <a href="posts/About-Me" class="nes-badge is-icon">
          <span class="is-dark">HI! :D</span>
          <span class="is-primary">Robin Liu!</span>
        </a>
        <img src="assets/gifs/DinoSprites_doux.gif" width="5%", height="auto">
      </div>
    </div> 

    <section class="nes-container">
      <section class="message-list">
        <section class="message -left">
          <div class="nes-balloon from-left">
            <div class="dialogue" >Week ?</div>
          </div>
        </section>
        
    
        <section class="message dialogue-right">
          <div class="nes-balloon from-right">
            <a href="posts/Final-Project" class="dialogue">
              <button type="button" class="nes-btn is-success"> Final Project Tracker</button>
            </a>
          </div>
        </section>
        <section class="message -left">
          <div class="nes-balloon from-left">
            <div class="dialogue" >Week 1: CAD</div>
          </div>
        </section>
    
        <section class="message dialogue-right">
          <div class="nes-balloon from-right">
            <a href="posts/post-1" class="dialogue">I ACCIDENTALLY DELETED ALL MY CAD SORRY!</a>
          </div>
        </section>

        <section class="message -left">
          <div class="nes-balloon from-left">
            <div class="dialogue" >Week 2: Computer-Controlled Cutting</div>
          </div>
        </section>
        
  
        <section class="message dialogue-right">
          <div class="nes-balloon from-right">
            <a href="posts/Computer-Controlled-Cutting" class="dialogue">
              <button type="button" class="nes-btn is-success"> PAC-MAN out of Cardboard</button>
            </a>
            <a href="posts/Vinyl-Stickers" class="dialogue">
              <button type="button" class="nes-btn is-warning"> CYBERSIGIL Vinyl Stickers</button>
            </a>
          </div>
        </section>

        <section class="message -left">
          <div class="nes-balloon from-left">
            <div class="dialogue" >Week 3: Embedded Programming</div>
          </div>
        </section>
        
  
        <section class="message dialogue-right">
          <div class="nes-balloon from-right">
            <a href="posts/Embedded-Programming" class="dialogue">
              <button type="button" class="nes-btn is-error"> Arduino Simulation of Pinball Machine</button>
            </a>
          </div>
        </section>
      </section>

      <section class="message -left">
        <div class="nes-balloon from-left">
          <div class="dialogue" >Week 4: 3D Printing</div>
        </div>
      </section>
      

      <section class="message dialogue-right">
        <div class="nes-balloon from-right">
          <a href="posts/3D-Print" class="dialogue">
            <button type="button" class="nes-btn is-success"> Winged headphones</button>
          </a>
        </div>
      </section>
      <section class="message -left">
        <div class="nes-balloon from-left">
          <div class="dialogue" >Week 5: Electronics Design</div>
        </div>
      </section>
      

      <section class="message dialogue-right">
        <div class="nes-balloon from-right">
          <a href="posts/Electronics-Design" class="dialogue">
            <button type="button" class="nes-btn is-success"> Designing Dev Board</button>
          </a>
        </div>
      </section>

      <section class="message -left">
        <div class="nes-balloon from-left">
          <div class="dialogue" >Week 6: Electronics Production</div>
        </div>
      </section>
      
  
      <section class="message dialogue-right">
        <div class="nes-balloon from-right">
          <a href="posts/Electronics-Production" class="dialogue">
            <button type="button" class="nes-btn is-error"> Breakout Board for Sirvos</button>
          </a>
        </div>
      </section>

      <section class="message -left">
        <div class="nes-balloon from-left">
          <div class="dialogue" >Week 7: Molding / Casting</div>
        </div>
      </section>
      
  
      <section class="message dialogue-right">
        <div class="nes-balloon from-right">
          <a href="posts/Molding" class="dialogue">
            <button type="button" class="nes-btn is-error"> Pusheen Pumpkin </button>
          </a>
        </div>
      </section>

      <section class="message -left">
        <div class="nes-balloon from-left">
          <div class="dialogue" >Week 9: Input Devices</div>
        </div>
      </section>
      
  
      <section class="message dialogue-right">
        <div class="nes-balloon from-right">
          <a href="posts/Input" class="dialogue">
            <button type="button" class="nes-btn is-error"> Accelerometer </button>
          </a>
        </div>
      </section>

      <section class="message -left">
        <div class="nes-balloon from-left">
          <div class="dialogue" >Week 10: Output Devices</div>
        </div>
      </section>
      
      <section class="message dialogue-right">
        <div class="nes-balloon from-right">
          <a href="posts/Output" class="dialogue">
            <button type="button" class="nes-btn is-error"> Output </button>
          </a>
        </div>
      </section>
      
    </section>

  </section>

    </section>
    
    <div class="credits nes-container is-centered">
      Credits: <br/>
      UI: nes.css - https://nostalgic-css.github.io/NES.css/ <br/>
      Dinosaur GIFs: - https://arks.itch.io/dino-characters
    </div>
  </body>
</html>


